<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="4.10"?><target name="SMART - 2018-12" sequenceNumber="41">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="javax.media.jai_imageio-feature.feature.group" version="1.1.3"/>
<repository location="http://udig.refractions.net/files/update-jai/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<repository location="http://download.eclipse.org/nebula/releases/2.3.0"/>
	<unit id="org.eclipse.nebula.widgets.tablecombo" version="1.2.0.201912241810"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.google.guava" version="21.0.0.v20170206-1425"/>
<unit id="com.lowagie.text" version="2.1.7.v201004222200"/>
<unit id="net.miginfocom.layout" version="3.7.1.v200911230030"/>
<unit id="net.miginfocom.layout.swt" version="3.7.1.v201505121915"/>
<unit id="org.junit" version="4.12.0.v201504281640"/>
<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20181128170323/repository"/>
	<unit id="org.hamcrest.library" version="1.3.0.v20180524-2246"/>
	<unit id="org.hamcrest.core" version="1.3.0.v20180420-1519"/>
</location>

<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">

<repository location="http://download.eclipse.org/tools/orbit/R-builds/R20190602212107/repository"/>
	<unit id="org.apache.batik.anim" version="1.9.1.v20181015-1528"/>
	<unit id="org.apache.batik.bridge" version="1.9.1.v20181015-1528"/>
	<unit id="org.apache.batik.constants" version="1.9.1.v20180227-1645"/>
	<unit id="org.apache.batik.css" version="1.9.1.v20181015-1528"/>
	<unit id="org.apache.batik.dom" version="1.9.1.v20181015-1528"/>
	<unit id="org.apache.batik.dom.svg" version="1.9.1.v20181015-1528"/>
	<unit id="org.apache.batik.i18n" version="1.9.1.v20180227-1645"/>
	<unit id="org.apache.batik.parser" version="1.9.1.v20180313-1559"/>
	<unit id="org.apache.batik.svggen" version="1.9.1.v20180313-1559"/>
	<unit id="org.apache.batik.transcoder" version="1.9.1.v20181015-1528"/>
	<unit id="org.apache.batik.util" version="1.9.1.v20180703-1553"/>
	<unit id="org.apache.batik.util.gui" version="1.9.1.v20180227-1645"/>
	<unit id="org.apache.batik.xml" version="1.9.1.v20180227-1645"/>
	<unit id="org.apache.batik.ext.awt" version="1.9.1.v20180227-1645"/>
	<unit id="org.apache.xalan" version="2.7.1.v201005080400"/>
	<unit id="org.apache.batik.codec" version="1.9.1.v20180313-1559"/>
	<unit id="org.apache.batik.gvt" version="1.9.1.v20180227-1645"/>
	<unit id="org.apache.batik.script" version="1.9.1.v20180313-1559"/>
	<unit id="org.apache.batik.constants" version="1.11.0.v20190515-0436"/>
	<unit id="org.apache.batik.css" version="1.11.0.v20190515-0436"/>
	<unit id="org.apache.batik.i18n" version="1.11.0.v20190515-0436"/>
</location>


<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.ecf.core.feature.feature.group" version="1.5.3.v20181012-2020"/>
<unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="1.1.100.v20180301-0201"/>
<unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.14.4.v20181013-2146"/>
<unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="1.1.100.v20180301-0132"/>
<unit id="org.eclipse.equinox.p2.sdk.feature.group" version="3.11.200.v20181123-1405"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.16.0.v20181130-2106"/>
<unit id="org.eclipse.help.feature.group" version="2.2.400.v20181206-0815"/>
<unit id="org.eclipse.platform.feature.group" version="4.10.0.v20181206-0815"/>
<unit id="org.eclipse.rcp.feature.group" version="4.10.0.v20181206-0815"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.10/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.google.inject" version="3.0.0.v201312141243"/>
<unit id="com.google.inject.assistedinject" version="3.0.0.v201402270930"/>
<unit id="com.google.inject.multibindings" version="3.0.0.v201402270930"/>

<unit id="org.eclipse.gef.fx.sdk.feature.group" version="5.0.2.201901221055"/>
<unit id="org.eclipse.gef.geometry.sdk.feature.group" version="5.0.2.201901221055"/>
<unit id="org.eclipse.gef.mvc.sdk.feature.group" version="5.0.2.201901221055"/>
<unit id="org.eclipse.gef.zest.sdk.feature.group" version="5.0.2.201901221055"/>

<unit id="org.eclipse.gef.layout.sdk.feature.group" version="5.0.0.201901221055"/>
<unit id="org.eclipse.gef.graph.sdk.feature.group" version="5.0.0.201901221055"/>
<unit id="org.eclipse.gef.common.sdk.feature.group" version="5.0.0.201901221055"/>

<repository location="http://download.eclipse.org/tools/gef/updates/releases"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<!--<unit id="org.eclipse.birt.doc.feature.group" version="4.7.0.v201706222054"/>
<unit id="org.eclipse.birt.feature.group" version="4.7.0.v201706222054"/>
-->
<unit id="org.eclipse.datatools.sdk.feature.feature.group" version="1.14.101.201811012051"/>
<unit id="org.eclipse.datatools.connectivity.feature.feature.group" version="1.14.101.201811012051"/>
<unit id="org.eclipse.datatools.connectivity.oda.feature.feature.group" version="1.14.101.201811012051"/>
<unit id="org.eclipse.datatools.connectivity.oda.designer.core.feature.feature.group" version="1.14.101.201811012051"/>
<unit id="org.eclipse.datatools.modelbase.feature.feature.group" version="1.14.101.201811012051"/>
<unit id="org.eclipse.e4.core.tools.feature.source.feature.group" version="4.10.0.v20181116-0958"/>
<unit id="org.eclipse.ecf.core.feature.group" version="3.14.4.v20181013-2146"/>
<unit id="org.eclipse.ecf.remoteservice.sdk.feature.feature.group" version="3.14.4.v20181013-2143"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.feature.group" version="3.14.4.v20181013-2146"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.feature.group" version="1.1.100.v20180301-0132"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.16.0.v20181206-1055"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.11.0.201606061308"/>
<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.12.0.201806010809"/>
<unit id="org.eclipse.xsd.sdk.feature.group" version="2.16.0.v20181127-0852"/>
<repository location="http://download.eclipse.org/releases/2018-12"/>
</location>
<!--
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.babel.nls_eclipse_es.feature.group" version="4.10.0.v20190126060001"/>
<unit id="org.eclipse.babel.nls_eclipse_fr.feature.group" version="4.10.0.v20190126060001"/>
<unit id="org.eclipse.babel.nls_eclipse_hi.feature.group" version="4.10.0.v20190126060001"/>
<unit id="org.eclipse.babel.nls_eclipse_id.feature.group" version="4.10.0.v20190126060001"/>
<unit id="org.eclipse.babel.nls_eclipse_mn.feature.group" version="4.10.0.v20190126060001"/>
<unit id="org.eclipse.babel.nls_eclipse_ru.feature.group" version="4.10.0.v20190126060001"/>
<unit id="org.eclipse.babel.nls_eclipse_th.feature.group" version="4.10.0.v20190126060001"/>
<unit id="org.eclipse.babel.nls_eclipse_vi.feature.group" version="4.10.0.v20190126060001"/>
<unit id="org.eclipse.babel.nls_eclipse_zh.feature.group" version="4.10.0.v20190126060001"/>
<unit id="org.eclipse.babel.nls_eclipse_pt.feature.group" version="4.10.0.v20190126060001"/>
<unit id="org.eclipse.babel.nls_eclipse_pt_BR.feature.group" version="4.10.0.v20190126060001"/>
<unit id="org.eclipse.babel.nls_eclipse_ar.feature.group" version="4.10.0.v20190126060001"/>
<repository location="https://download.eclipse.org/technology/babel/update-site/R0.16.1/2018-12/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.babel.nls_birt_es.feature.group" version="4.5.0.v20171231064042"/>
<unit id="org.eclipse.babel.nls_birt_fr.feature.group" version="4.5.0.v20171231064042"/>
<unit id="org.eclipse.babel.nls_birt_hi.feature.group" version="4.5.0.v20171231064042"/>
<unit id="org.eclipse.babel.nls_birt_id.feature.group" version="4.5.0.v20171231064042"/>
<unit id="org.eclipse.babel.nls_birt_mn.feature.group" version="4.5.0.v20171231064042"/>
<unit id="org.eclipse.babel.nls_birt_ru.feature.group" version="4.5.0.v20171231064042"/>
<unit id="org.eclipse.babel.nls_birt_th.feature.group" version="4.5.0.v20171231064042"/>
<unit id="org.eclipse.babel.nls_birt_vi.feature.group" version="4.5.0.v20171231064042"/>
<unit id="org.eclipse.babel.nls_birt_zh.feature.group" version="4.5.0.v20171231064042"/>
<unit id="org.eclipse.babel.nls_birt_pt.feature.group" version="4.5.0.v20171231064042"/>
<unit id="org.eclipse.babel.nls_birt_pt_BR.feature.group" version="4.5.0.v20171231064042"/>
<unit id="org.eclipse.babel.nls_birt_ar.feature.group" version="4.5.0.v20171231064042"/>
<repository location="https://archive.eclipse.org/technology/babel/update-site/R0.15.1/mars"/>
</location>
-->
	<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<unit id="openjfx.standard.feature.feature.group" version="11.0.0.201901231300"/>
		<unit id="openjfx.swt.feature.feature.group" version="11.0.0.201901231300"/>
		<repository location="http://downloads.efxclipse.bestsolution.at/p2-repos/openjfx-11/repository/"/>
	</location>
	<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<repository location="https://download.eclipse.org/efxclipse/runtime-released/3.5.0/site"/>
		<unit id="org.eclipse.fx.runtime.min.feature.feature.group" version="3.5.0.201902220600"/>
	</location>
	<!--<location path="C:\data\SMART\Source\Trunk\svn\source\java\org.wcs.smart.target\birt-report-framework-sdk-4.9.0-20190523" type="Directory"/>-->
</locations>
	
</target>