<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="4.10"?>
<target name="SMART - 2023-12" sequenceNumber="41">
        <locations>
        <location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="javax.media.jai_imageio-feature.feature.group" version="1.1.3"/>
            <repository location="http://udig.refractions.net/files/update-jai/"/>
        </location>		    
         <location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <unit id="openjfx.standard.feature.feature.group" version="0.0.0"/>
            <unit id="openjfx.swt.feature.feature.group" version="0.0.0"/>
            <repository location="https://downloads.efxclipse.bestsolution.at/p2-repos/openjfx-19/"/>
        </location>
        <location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <repository location="https://download.eclipse.org/efxclipse/runtime-released/3.9.0/site/"/>
            <unit id="org.eclipse.fx.runtime.min.feature.feature.group" version="3.9.0.202210162353"/>
        </location>
	    <location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		    <repository location="http://download.eclipse.org/e4/snapshots/org.eclipse.e4.tools/latest/"/>
		    <!--<unit id="org.eclipse.e4.tools.spies.feature.feature.group" version="0.18.0.v20200923-1237"/>-->
	    </location>
	    <location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		    <repository location="https://download.eclipse.org/nebula/archive/releases/3.1.1"/>
		    <unit id="org.eclipse.nebula.widgets.tablecombo" version="1.2.0.202402011804"/>
	    </location>
	    
	    <location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/eclipse/updates/4.30"/>

			<unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.rcp.configuration.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.e4.core.tools.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.ecf.core.feature.feature.group" version="0.0.0"/>
		    <unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="0.0.0"/>
		    <unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="0.0.0"/>
		    <unit id="org.eclipse.ecf.filetransfer.httpclient5.feature.feature.group" version="0.0.0"/>
		    <unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="0.0.0"/>
		    
		    <unit id="org.eclipse.equinox.core.sdk.feature.group" version="0.0.0"/>
		    <unit id="org.eclipse.equinox.p2.sdk.feature.group" version="0.0.0"/>
		    <unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
		</location>
		
		<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/modeling/emf/emf/builds/release/2.37.0"/>
			<unit id="org.eclipse.emf.base.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.ecore.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.emf.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.xsd.edit.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.xsd.feature.group" version="0.0.0"/>
		</location>
		
		<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20230531010532/repository"/>
			<unit id="org.apache.xalan" version="2.7.2.v20221112-0806"/>
			<unit id="org.apache.xalan.source" version="2.7.2.v20221112-0806"/>
			
			<unit id="com.google.guava" version="30.1.0.v20221112-0806"/>
			<unit id="com.google.guava.source" version="30.1.0.v20221112-0806"/>
			<unit id="com.google.inject" version="5.0.1.v20221112-0806"/>
			<unit id="com.google.inject.source" version="5.0.1.v20221112-0806"/>
			<unit id="org.apache.log4j" version="1.2.24.v20221221-2012"/>
			<unit id="org.apache.log4j.source" version="1.2.24.v20221221-2012"/>
			<unit id="org.apache.logging.log4j" version="2.17.1.v20220106-2156"/>
			<unit id="org.apache.logging.log4j.source" version="2.17.1.v20220106-2156"/>
			<unit id="org.apache.commons.io" version="2.8.0.v20210415-0900"/>
			<unit id="org.apache.commons.io.source" version="2.8.0.v20210415-0900"/>			
			<unit id="com.google.gson" version="2.10.1.v20230109-0753"/>
			<unit id="com.google.gson.source" version="2.10.1.v20230109-0753"/>
			<unit id="org.apache.commons.compress" version="1.22.0.v20221207-1049"/>
			<unit id="org.apache.commons.codec" version="1.14.0.v20221112-0806"/>
			
			<!--			
			<unit id="net.miginfocom.layout" version="3.7.1.v200911230030"/>
			<unit id="net.miginfocom.layout.source" version="3.7.1.v200911230030"/>
			<unit id="net.miginfocom.layout.swt" version="3.7.1.v201505121915"/>
			<unit id="net.miginfocom.layout.swt.source" version="3.7.1.v201505121915"/>
			<unit id="org.apache.commons.exec" version="1.1.0.v201301240602"/>
			<unit id="org.apache.commons.exec.source" version="1.1.0.v201301240602"/>
			-->

		</location>
		
		
		<!--https://github.com/diffplug/osgiX-->
	    <location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		    <repository location="https://download.eclipse.org/birt/updates/release/4.14.0"/>
		    <unit id="org.eclipse.birt.chart.feature.group" version="4.14.0.v202311210608"/>
		    <unit id="org.eclipse.birt.chart.osgi.runtime.sdk.feature.group" version="4.14.0.v202311210608"/>
		    <unit id="org.eclipse.birt.cshelp.feature.group" version="4.14.0.v202311210608"/>
		    <unit id="org.eclipse.birt.doc.feature.group" version="4.14.0.v202311210608"/>
		    <unit id="org.eclipse.birt.engine.runtime.feature.group" version="4.14.0.v202311210608"/>
		    <unit id="org.eclipse.birt.feature.group" version="4.14.0.v202311210608"/>
		    <unit id="org.eclipse.birt.nl.feature.group" version="4.14.0.v202311210608"/>
		    <unit id="org.eclipse.birt.osgi.runtime.sdk.feature.group" version="4.14.0.v202311210608"/>
	    </location>
	    <location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		    <repository location="https://archive.eclipse.org/tools/gef/classic/releases/3.18.0"/>
		    <unit id="org.eclipse.gef.feature.group" version="3.18.0.202311222042"/>
		    <unit id="org.eclipse.zest.feature.group" version="3.18.0.202311222042"/>
	    </location>
	    
	    
	    
	    
	    <location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		    <repository location="https://download.eclipse.org/technology/babel/update-site/R0.20.0/2022-09/"/>
		    <unit id="org.eclipse.babel.nls_datatools_ar.feature.group" version="4.25.0.v20230221050449"/>
		    <unit id="org.eclipse.babel.nls_datatools_es.feature.group" version="4.25.0.v20230221050449"/>
		    <unit id="org.eclipse.babel.nls_datatools_fr.feature.group" version="4.25.0.v20230221050449"/>
		    <unit id="org.eclipse.babel.nls_datatools_hi.feature.group" version="4.25.0.v20230221050449"/>
		    <unit id="org.eclipse.babel.nls_datatools_id.feature.group" version="4.25.0.v20230221050449"/>
		    <unit id="org.eclipse.babel.nls_datatools_mn.feature.group" version="4.25.0.v20230221050449"/>
		    <unit id="org.eclipse.babel.nls_datatools_pt.feature.group" version="4.25.0.v20230221050449"/>
		    <unit id="org.eclipse.babel.nls_datatools_ru.feature.group" version="4.25.0.v20230221050449"/>
		    <unit id="org.eclipse.babel.nls_datatools_th.feature.group" version="4.25.0.v20230221050449"/>
		    <unit id="org.eclipse.babel.nls_datatools_uk.feature.group" version="4.25.0.v20230221050449"/>
		    <unit id="org.eclipse.babel.nls_datatools_zh.feature.group" version="4.25.0.v20230221050449"/>
		    <unit id="org.eclipse.babel.nls_eclipse_ar.feature.group" version="4.25.0.v20230221050449"/>
		    <unit id="org.eclipse.babel.nls_eclipse_es.feature.group" version="4.25.0.v20230221050449"/>
		    <unit id="org.eclipse.babel.nls_eclipse_fr.feature.group" version="4.25.0.v20230221050449"/>
		    <unit id="org.eclipse.babel.nls_eclipse_hi.feature.group" version="4.25.0.v20230221050449"/>
		    <unit id="org.eclipse.babel.nls_eclipse_id.feature.group" version="4.25.0.v20230221050449"/>
		    <unit id="org.eclipse.babel.nls_eclipse_ml.feature.group" version="4.25.0.v20230221050449"/>
		    <unit id="org.eclipse.babel.nls_eclipse_mn.feature.group" version="4.25.0.v20230221050449"/>
		    <unit id="org.eclipse.babel.nls_eclipse_pt.feature.group" version="4.25.0.v20230221050449"/>
		    <unit id="org.eclipse.babel.nls_eclipse_ru.feature.group" version="4.25.0.v20230221050449"/>
		    <unit id="org.eclipse.babel.nls_eclipse_th.feature.group" version="4.25.0.v20230221050449"/>
		    <unit id="org.eclipse.babel.nls_eclipse_uk.feature.group" version="4.25.0.v20230221050449"/>
		    <unit id="org.eclipse.babel.nls_eclipse_vi.feature.group" version="4.25.0.v20230221050449"/>
		    <unit id="org.eclipse.babel.nls_eclipse_zh.feature.group" version="4.25.0.v20230221050449"/>
	    </location>
	    <location includeDependencyDepth="infinite" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
		    <dependencies>
			    <dependency>
				    <groupId>com.diffplug.osgi</groupId>
				    <artifactId>com.diffplug.osgi.extension.sun.misc</artifactId>
				    <version>0.0.0</version>
				    <type>jar</type>
			    </dependency>
			    
		    </dependencies>
	    </location>

	     <location includeDependencyDepth="none" includeSource="true" missingManifest="generate" type="Maven">
		    <dependencies>
			    <dependency>
				    <groupId>com.miglayout</groupId>
				    <artifactId>miglayout</artifactId>
				    <version>3.7.4</version>
				    <type>jar</type>
			    </dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none" includeSource="true" missingManifest="generate" type="Maven">
		    <dependencies>
			    <dependency>
				    <groupId>com.miglayout</groupId>
				    <artifactId>miglayout-swt</artifactId>
				    <version>11.3</version>
				    <type>jar</type>
			    </dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none" includeSource="true" missingManifest="generate" type="Maven">
		    <dependencies>			
			    <dependency>
				    <groupId>org.apache.commons</groupId>
				    <artifactId>commons-exec</artifactId>
				    <version>1.4.0</version>
				</dependency>
		    </dependencies>
	    </location>
    </locations>
</target>